<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THE FUTURE START TODAY</h1>
    <p>"A dream does not become reality through magic; it takes sweat, determination, and hard work." "I'm a great believer in luck, and I find the harder I work, the more I have of it." "Doing the best at this moment puts you in the best place for the next moment." "Hard work beats talent if talent doesn't work hard. </P>

</body>
</html>